@font-face {
  font-family: 'Nafees Nastaleeq';
  src: url("../fonts/JameelNooriNastaleeq.eot");
  src: url("../fonts/JameelNooriNastaleeq.eot") format("embedded-opentype"), 
       url("../fonts/JameelNooriNastaleeq.woff") format("woff"), 
       url("../fonts/JameelNooriNastaleeq.ttf") format("truetype"), 
       url("../fonts/JameelNooriNastaleeq.svg") format("svg");
       unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}
